---
layout: page
---
<!--
We're happy to announce our keynote speakers. The rest of the program will be announced soon.

{% include invited_talk.html time="" key="oelke" %}

{% include invited_talk.html time="" key="phan" %}

{% include invited_talk.html time="" key="kirk" %}
 -->


<span class="time">Monday, October 22, 2018</span>
<p>Location: Convention Hall 1, Section D</p>

<div class="talk">
    <div class="ttitle">9:00-9:10, Opening Address</div> <span class="time">Torsten Möller, Shixia Liu</span>
</div>


{% include invited_talk.html time="9:10-10:10" key="phan" %}
<h3>Session 1: Interactive ML</h3>
<span class="time">10:10-10:40, Session Chair: Eli Brown, Depaul </span>
{% include paper.html time="10:10-10:25" key="1" %}
{% include paper.html time="10:25-10:40" key="2" %}

<br>

<h3 class="time">10:40-11:00, Coffee Break</h3>
{% include invited_talk.html time="11:00-12:00" key="kirk" %}

<h3>Session 2: Deep Learning</h3>
<span class="time">12:00-12:45, Session Chair: Hendrik Strobelt, IBM Research AI </span>
{% include paper.html time="12:00-12:15" key="3" %}
{% include paper.html time="12:15-12:30" key="4" %}
{% include paper.html time="12:30-12:45" key="5" %}

<br>
<h3 class="time">12:45-2:20, Lunch</h3>


<br>

{% include invited_talk.html time="2:20-3:20" key="oelke" %}

<h3>Session 3: Data Science in Domains </h3>
<span class="time">3:20-3:35, Session Chair: John Wenskovitch, Virginia Tech </span>

{% include paper.html time="3:20-3:35" key="6" %}
{% include paper.html time="3:35-3:50" key="7" %}
{% include paper.html time="3:50-4:05" key="8" %}

<br>
<h3 class="time">4:05-4:20, Coffee Break</h3>
<br>
<h3>Session 4: Temporal Data </h3>
<span class="time">4:20-4:50, Session Chair:  Leo Zhicheng Liu, Adobe Research </span>

{% include paper.html time="4:20-4:35" key="9" %}
{% include paper.html time="4:35-4:50" key="10" %}

<div class="talk">
    <div class="ttitle">4:50-5:50, PANEL: The Future of Visualization in Data Science.</div>
    <div><span class="tspeaker">Daniela Oelke, Kirk Goldsberry, Pat Hanrahan </span></div>
    <div>Moderator: Hanspeter Pfister</div>
</div>

<div class="talk">
    <div class="ttitle">Closing</div>
</div>

